{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block body_block %}

  {% if event %}
    <div class="col-md-9">
      <h2>{{ event.name }}</h2>
    </div>
    <div class="col-md-3">
      <h3>{{ event.start }}</h3>
    </div>
    <div class="col-md-12">
      {% autoescape off %}
      {{ event.details }}
      {% endautoescape %}
      {% if files %}
        <p>Here is a list of files associated with the event:</p>
        <ul class="list-unstyled">
          {% for file in files %}
            <li><a href="/media/{{ file.file }}">{{ file.name }}</a></li>
          {% endfor %}
        {% else %}
      {% endif %}
    </div>

  {% else %}
    <p>No event with that name found</p>
  {% endif %}

{% endblock %}
