{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block body_block %}

<div class="container">
  {% if events_list %}
    {% for event in events_list %}
      <h2>{{ event.name }}</h2>
      <ul>
        <li>{{ event.start }}</li>
        <li>{{ event.location }}</li>
        <li>{{ event.details }}</li>
        <li><a href="/media/{{ event.uploaded_files }}">file</a></li>
      </ul>
    {% endfor %}
  {% else %}
    <p>No events yet</p>
  {% endif %}
</div>
{% endblock %}
