{% extends 'home/about.html' %}

{% block content_lang %}
    <h1>Belgian Brain Council: Première association commune pour toutes les parties concernées par le cerveau et ses maladies</h2>
    <p>Bruxelles, le 15 mars 2005 - Première association nationale au niveau européen, le Belgian Brain Council voit aujourd'hui le jour en Belgique. Rassemblant des sociétés scientifiques de neurologues, psychiatres et chercheurs, des associations de patients et des firmes pharmaceutiques, cette plate-forme unique et multidisciplinaire présente des objectifs à la hauteur de ses ambitions : améliorer la prise en charge des malades neurologiques et psychiatriques, sensibiliser la population, favoriser la recherche et les échanges entre les différentes disciplines et associations et agir auprès des autorités publiques afin d'améliorer le remboursement de certains examens et traitements. Un programme soutenu par des experts passionnés... </p>
    <h3>Quelques chiffres en Europe et en Belgique</h4>
    <p>Selon les dernières études en date, plus de 100 millions d'Européens font quotidiennement face à des conséquences physiques, émotionnelles et/ou financières dues à un dysfonctionnement ou à une maladie du système nerveux central. En Belgique, à l'instar du reste de l'Europe, 35% de l'ensemble des handicaps recensés sont uniquement dus aux maladies neurologiques et psychiatriques, alors que moins de 10% des ressources de la sécurité sociale ou de la recherche scientifique leur sont consacrés. Des chiffres qui interpellent.</p>
    <p>En Belgique, les maladies qui pèsent le plus lourd dans ce domaine sont par ordre décroissant : les traumatismes crâniens, les accidents cérébro-vasculaires, la dépression, la maladie d'Alzheimer, l'alcoolisme, la schizophrénie, les migraines, les toxicomanies, les troubles anxieux, l'épilepsie et la maladie de Parkinson. Un seul patient dément coûte en moyenne annuellement 5.350€ à la société s'il est pris en charge à son domicile, 27.620€ s'il est institutionnalisé. Un patient atteint de sclérose en plaques coûte 30.000€ par an, un parkinsonien 15.000€, un schizophrène 12.000€, un déprimé 10.000€.</p>
    <p>Le poids et le coût social de ces différentes maladies n'auront de cesse de s'aggraver dans les années à venir et ceci, principalement à cause du vieillissement de la population belge.</p>
    <p>Par ailleurs, les connaissances de toutes ces maladies restent encore, à ce jour, incomplètes.</p>
    <h3>"Fédérer": moteur principal du BBC</h4>
    <p>S'inspirant du European Brain Council créé en 2003 au niveau européen, le Belgian Brain Council est la première association nationale qui réunit toutes les parties prenantes. Un exemple à suivre pour les autres pays européens.</p>
    <p>Le but du BBC est de concentrer les forces et expertises de chacun pour réaliser les trois objectifs prioritaires définis par ses membres:</p>
    <ul>
      <li>
	Informer et éduquer le grand public sur le cerveau et ses dysfonctionnements.
      </li>
      <li>
	Optimaliser les progrès en facilitant les échanges et une 'cross fertilisation' entre cliniciens, chercheurs, et industriels.
      </li>
      <li>
	Améliorer le financement de la recherche et la prise en charge des patients souffrant de maladies neurologiques et psychiatriques aux niveaux fédéral et communautaire.
      </li>
    </ul>
    <p>Concrètement, le BBC souhaite mettre sur pied différentes actions telles que:</p>
    <ul>
      <li>
	Une campagne de conscientisation pour le grand public au sujet du cerveau et de ses maladies.
      </li>
      <li>
	L'organisation d'une réunion scientifique biennale, appelée 'NeuroBelgium', qui rassemble tous les acteurs concernés.
      </li>
      <li>
	La préparation d'un document de consensus reprenant toutes les données disponibles actuellement sur la recherche et définissant les objectifs à atteindre.
      </li>
      <li>
	Créer en son sein une cellule multidisciplinaire soutenant, sur base de données concrètes, des revendications pour un meilleur remboursement de traitements ou investigations chez des malades neurologiques et psychiatriques.
      </li>
    </ul>
    <p>Par ailleurs, le BBC souhaite, à terme, devenir un lieu de réflexion et un point de contact pour toute personne à la recherche d'informations relatives au cerveau et ses maladies.</p>
    <h3>Le Belgian Brain Awareness Day : point d'orgue du lancement en Belgique	</h3>
    <p>Organisé le 16 mars 2005 prochain dans le cadre de la European Brain Awareness Week - mise sur pied par la European Dana Alliance for the Brain - le Belgian Brain Awareness Day est la première journée de sensibilisation aux maladies neurologiques et psychologiques menée en Belgique. Destinée à tous ceux que le cerveau intrigue, intéresse ou passionne, elle décline, dans différentes grandes villes, des activités interactives. L'université d'Anvers se distinguera, quant à elle, en proposant la lecture du texte théâtral 'Uitgewist' accompagnée au piano par Gill Masson.</p>
    <p>L'European Brain Awareness Week en est quant à elle à sa 7ème édition et est aujourd'hui devenue un événement majeur au niveau mondial. Ainsi, au cours de cette semaine de sensibilisation, des conférences organisées partout dans le monde à l'attention du grand public, feront le point sur les résultats des dernières recherches menées au niveau du cerveau.</p>
    <p>En 2006, la Belgique consacrera une semaine entière (du 12 au 19 mars 2006) à la recherche sur le cerveau. Cette BELGIAN BRAIN AWARENESS WEEK sera le rï¿½sultat de la mise en commun des efforts du BBC, de l'<a href="http://www.edab.net/">EDAB</a> et de la <a href="http://www.kbs-frb.be/">Fondation Roi Baudouin</a>. Cette semaine sera ponctuée par des conférences, des Cafés des Sciences, des ImproSessions, des expositions.En Belgique, Le Belgian Brain Awareness Day sera ponctué de plusieurs conférences et "cafés des sciences" mis sur pied avec certaines universités, en coopération avec le "Printemps des Sciences". Au programme: des sujets traités en détails mais abordés de façon simple et accessible pour tous. Tout savoir sur le cerveau, son fonctionnement et ses maladies, mieux comprendre certaines maladies liées au vieillissement du cerveau ou encore apprivoiser la thrombose cérébrale, autant de thèmes que les experts belges présenteront au grand public.</p>

{% endblock %}
