{% extends 'home/about.html' %}

{% block content_lang %}
    <h1>Belgian Brain Council: The first coordinating association of all agencies for the brain and related diseases</h1>

    <p>Brussels, 15 March 2005 - today, the first national organization at European level, the Belgian Brain Council, is born. This unique and multidisciplinary platform unites scientific organizations of neuroscientists, psychiatrists and research workers, patients' associations and pharmaceutical companies. The Belgian Brain Council wants to improve the treatment for persons with neurological and psychiatric diseases, make people more aware of this subject, stimulate research and exchange between the different disciplines and associations, and lobbying at the government for enhancing the reimbursement of research and treatments. A programme supported by passionate experts...</p>

{% endblock %}
