.row-fluid{text-align:center;}
.img-responsive{margin:0 auto}
.img-responsive{vertical-align:middle}

.navbar-custom {
    background-color: rgb(255, 222, 0);
    color:rgb(88,88,88) ;
    border-radius:0;
    border-style: none;
}

.navbar-custom .navbar-nav > li > a {
    color:rgb(88,88,88);
}

.navbar-inverse .navbar-brand {
    color: rgb(88,88,88);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #FDB824;
}
/*
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: rgb(88,88,88);
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:rgb(88,88,88);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #585847;
    background-color: #FFC200;
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-shadow: 6px 6px 8px rgb(0,0,0);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: white;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  height: 400px;
  margin: 0 auto;
}
