{% extends 'base.html' %}

{% block title %}Pharmaceutical Companies{% endblock %}

{% block body_block %}
  <div class="container">
    <h1>Pharmaceutical Companies Members</h1>

    {% if pharmaceutical_companies %}
      <table class="table">
        {% for member in pharmaceutical_companies %}
          <tr>
            <td>
              {{ member.society }}<br />
            </td>
            <td>
              {{ member.name_contact }}<br />
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      There are no members at this time.
    {% endif %}
  </div>
{% endblock %}
